RewriteEngine on

RewriteRule ^home index.php [NE,L]

RewriteRule ^about about.php [NE,L]

RewriteRule ^services services.php [NE,L]

RewriteRule ^custom-website-design custom-website-design.php [NE,L]

RewriteRule ^ecommerce-solution ecommerce-solution.php [NE,L]

RewriteRule ^seo-and-marketing seo-and-marketing.php [NE,L]

RewriteRule ^website-maintenance website-maintenance.php [NE,L]

RewriteRule ^website-redesign-updates website-redesign-updates.php [NE,L]

RewriteRule ^cms-integration cms-integration.php [NE,L]

RewriteRule ^mobile-app-development mobile-app-development.php [NE,L]

RewriteRule ^automation automation.php [NE,L]

RewriteRule ^server-setup server-setup.php [NE,L]

RewriteRule ^portfolio portfolio.php [NE,L]

RewriteRule ^blog blog.php [NE,L]

RewriteRule ^faq faq.php [NE,L]

RewriteRule ^contact contact.php [NE,L]

RewriteRule ^error contact.php [NE,L]

RewriteRule ^coming-soon coming-soon.php [NE,L]

RewriteRule ^insert insert.php [NE,L]